<!DOCTYPE html>
<html lang="en">
<head>
  <title>Salt Lake City Chess Club || where community meets chess</title>
  <meta
    name="description"
    content="Salt Lake City Chess Club, Utah chess, chess community in Salt Lake City, chess events, weekly chess meetups, chess for all ages, local chess tournaments, play chess in Salt Lake City, join a chess club, chess players in Salt Lake, chess coffee meetups, inclusive chess club in Utah, Join the largest chess community in Salt Lake City. Weekly chess meetups for all ages and skill levels at Loki Coffee and TF Brewery."
    >
    <meta name="keywords" content="SLC, chess, community, chess club, salt lake city">
    <meta name="author" content="saltlakecitychessclub@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="ToMdTHrzcitQiE1mSXgeBX0I6D-xBTbNWVg8JbP70G0" >
    <link rel="icon" href="/img/my_favicon.ico" sizes='32x32' >


  <!-- Font Awesome icons (free version)-->
  <!-- Google fonts-->
  <!-- include libraries(jQuery, bootstrap) -->



  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" >

