<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Salt Lake City Chess Club || where community meets chess</title>
  <meta
    name="description"
    content="Salt Lake City Chess Club: Join our community of chess enthusiasts in Salt Lake City. Improve your skills and connect with fellow players.">
    <meta name="keywords" content="SLC, chess, community, chess club, salt lake city">
    <meta property="og:type" content="event">
    <meta name="author" content="saltlakecitychessclub@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:description" content="Join Salt Lake City Chess Club—connect, improve, and enjoy chess with a welcoming community.">    <meta property="og:site_name" content="Salt Lake City Chess Club">
    <meta property="og:title" content="Salt Lake City Chess Club">

  <meta name="google-site-verification" content="ToMdTHrzcitQiE1mSXgeBX0I6D-xBTbNWVg8JbP70G0" >
    <link rel="icon" href="/img/my_favicon.ico" sizes='32x32' >


  <!-- Font Awesome icons (free version)-->
  <!-- Google fonts-->
  <!-- include libraries(jQuery, bootstrap) -->



  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" >

