<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Salt Lake City Chess Club || where community meets chess</title>
  <meta
    name="description"
    content="Salt Lake City Chess Club: Join a vibrant community of chess enthusiasts in Salt Lake City. Discover club events, improve your skills, and connect with fellow players."
    >
    <meta name="keywords" content="SLC, chess, community, chess club, salt lake city">
    <meta name="author" content="saltlakecitychessclub@gmail.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="ToMdTHrzcitQiE1mSXgeBX0I6D-xBTbNWVg8JbP70G0" >
    <link rel="icon" href="/img/my_favicon.ico" sizes='32x32' >


  <!-- Font Awesome icons (free version)-->
  <!-- Google fonts-->
  <!-- include libraries(jQuery, bootstrap) -->



  <!-- Core theme CSS (includes Bootstrap)-->
  <link href="/css/styles.css" rel="stylesheet" >

