<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="imageModalLabel"></p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <img id="modalImage" src="image" class="img-fluid" alt="">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="prevImage()">Previous</button>
        <button type="button" class="btn btn-secondary" onclick="nextImage()">Next</button>
      </div>
    </div>
  </div>
</div>
