<%- include ('layouts/header'); -%>
    <!-- Navigation -->
    <!-- Main Content-->

    <div class="content-wrapper">
      <div class="image-grid">
        <img src="/img/katie_tf.jpg" alt="katie_playing_chess_with_friends">
        <img src="/img/johnny_chess.jpg" alt="friendly_person_wants_to_play_chess_SLC">
        <img src="/img/father_nathan.jpg" alt="father_nathan_playing_chess_with_community">
        <img src="/img/chess_jim.jpg" alt="jim_friendly_beginner_at_chess">
      </div>

      <div class="text-content">
        <img src='/img/chess_logo_compressed.png' alt='logo' class='centered-image'>

        <h1>The Salt Lake City Chess Club</h1>
        <p class="centered-text"><a href="https://www.instagram.com/slc_chessclub?igsh=MTdqZXZ1ZTBxczFxYw==" target="_blank"><strong>FOLLOW OUR INSTAGRAM @slc_chessclub :) </strong></a></p>

        <% for (var i = 0; i < blogposts.length; i++) { %>
          <%- blogposts[i].body %>
        <% } %>

      </div>


      <div class="image-grid">
        <img src="/img/sarah_loki.jpg" alt="Sarah_challenging_chess_position">
        <img src="/img/chess_loki_3.jpg" alt="Matt_waiting_for_opponent">

        <img src="/img/chess_loki_4.jpg" alt="everyone_playing_chess">
        <img src="/img/toly_chess.jpg" alt="chess_set">
        <img src="/img/sausage_fest_chess.jpg" alt="community_gathering_for_chess">
      </div>
    </div>



    <!-- <hr /> -->
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
