<%- include ('layouts/header'); -%>
    <!-- Navigation -->
    <!-- Main Content-->

    <h1 class='content-wrapper-title'>The Salt Lake City Chess Club</h1>
    <div class="content-wrapper">
      <div class="text-content">
        <p class="centered-text" style='text-align: center;'><a href="https://www.instagram.com/slc_chessclub?igsh=MTdqZXZ1ZTBxczFxYw==" target="_blank"><strong>FOLLOW OUR INSTAGRAM @slc_chessclub </strong></a></p>
      <picture>
        <img src='/img/chess_logo_compressed.png' height=100 width=100 alt='logo'>
      </picture>

        <% for (var i = 0; i < blogposts.length; i++) { %>
          <%- blogposts[i].body %>
        <% } %>

      </div>
    <div class="image-grid">
      <picture>
        <img loading="lazy" src="/img/katie_tf_compressed_redo.jpg" height=150 width=100 alt="katie_playing_chess_with_friends">
      </picture>
      <picture>
        <img loading="lazy" src="/img/johnny_compressed.jpg" height=150 width=100 alt="friendly_person_wants_to_play_chess_SLC">
      </picture>
      <picture>
        <img loading="lazy" src="/img/sarah_loki_compressed.jpg" srcset="/img/sarah_loki_compressed.jpg 1x" height=150 width=100 alt="Sarah_challenging_chess_position">
      </picture>
      <picture>
        <img loading="lazy" src="/img/father_nathan_compressed.jpg" height=150 width=100 alt="father_nathan_playing_chess_with_community">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_jim_compressed.jpg" srcset='/img/chess_jim_compressed.jpg 1x' height=100 width=150 alt="chess_jim">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_table_beanie.jpg" srcset='/img/chess_table_beanie.jpg 1x' height=100 width=150 alt="chess_community">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_loki_4_compressed.jpg" srcset="img/chess_loki_4_compressed.jpg 1x" height=150 width=100 alt="everyone_playing_chess">
      </picture>
      <picture>
        <img loading="lazy" src="/img/chess_loki_3_compressed_redo.jpg" srcset="/img/chess_loki_3_compressed_redo.jpg 1x" height=150 width=100 alt="Matt_waiting_for_opponent">
      </picture>
      <picture>
        <img loading="lazy" src="/img/sad_chess.jpg" srcset="/img/sad_chess.jpg 1x" height=150 width=100 alt="He_is_so_sad">
      </picture>
      <picture>
        <img loading="lazy" src="/img/toly_compressed_chess.jpg" srcset="/img/toly_compressed_chess.jpg 1x" height=150 width=100 alt="Toly_looking_handsome_as_fuck">
      </picture>
    </div>
    </div>



    <!-- <hr /> -->
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
