<%- include ('layouts/header'); -%>
    <!-- Navigation -->
    <!-- Main Content-->

    <h1 class='content-wrapper-title'>The Salt Lake City Chess Club</h1>
    <div class="content-wrapper">
      <div class="text-content">
        <p class="centered-text"><a href="https://www.instagram.com/slc_chessclub?igsh=MTdqZXZ1ZTBxczFxYw==" target="_blank"><strong>FOLLOW OUR INSTAGRAM @slc_chessclub </strong></a></p>
      <picture>
        <img src='/img/chess_logo_compressed.png' alt='logo'>
      </picture>

        <% for (var i = 0; i < blogposts.length; i++) { %>
          <%- blogposts[i].body %>
        <% } %>

      </div>
      <div class="image-grid">
      <picture>
        <img loading="lazy" src="/img/katie_tf_compressed_redo.jpg" height=300 width=300 alt="katie_playing_chess_with_friends">
      </picture>
      <picture>
        <img loading="lazy" src="/img/johnny_compressed.jpg" height=300 width=300 alt="friendly_person_wants_to_play_chess_SLC">
      </picture>
      <picture>
        <img loading="lazy" src="/img/father_nathan_compressed.jpg" height=300 width=300 alt="father_nathan_playing_chess_with_community">
      </picture>
      <picture>
      <img
        loading="lazy"
        src="/img/chess_jim_compressed.jpg"

        alt="chess_jim">
      </picture>
      </div>




      <div class="image-grid">
        <picture>
        <img loading="lazy" src="/img/sarah_loki_compressed.jpg" height=300 width=300 alt="Sarah_challenging_chess_position">
        </picture>

        <picture>
        <img loading="lazy" src="/img/chess_loki_3_compressed_redo.jpg" height=300 width=300 alt="Matt_waiting_for_opponent">
      </picture>

      <picture>
        <img loading="lazy" src="/img/chess_loki_4_compressed.jpg" alt="everyone_playing_chess">
      </picture>

      <picture>
        <img loading="lazy" src="/img/toly_compressed_chess.jpg" height=300 width=300 alt="chess_set">
      </picture>

      <picture>
        <source srcset="/img/sausage_fest_chess_compressed.jpg">
      <img loading="lazy"  src="/img/sausage_fest_chess_compressed.jpg" height=300 width=300 alt="community_gathering_for_chess">
    </picture>

  </div>
    </div>



    <!-- <hr /> -->
    <!-- Footer-->
    <%- include('layouts/footer'); -%>
    <%- include('layouts/scripts'); -%>
  </body>
</html>
