<%- include ('layouts/header'); -%>
    <!-- Main Content-->
    <h1 class='content-wrapper-title'>The Salt Lake City Chess Club</h1>
    <!-- sdhll -->
    <div class="content-wrapper">
      <div class="text-content">
        <div class='text-content-text'>
        At the Salt Lake City Chess Club, we focus on community and camaraderie rather than strict competition. Our gatherings are a chance to meet new people, share ideas, and enjoy a welcoming atmosphere where chess brings us together. Whether you’re looking to practice openings, discuss strategy, or simply enjoy a casual game over a drink,
        our meetups are designed for all levels of experience. We believe chess should be accessible, engaging, and, most importantly, fun!
        Our club meets twice a week in two locations, each offering a unique vibe:
        <h2>Sundays</h2><a href="https://www.millcreekcoffee.com/" target="_blank"> <p> <strong>Millcreek Coffee Roasters</strong> <br> 9AM - 12PM <br> 657 South Main Street Salt Lake City, Utah 84111 </p></a>
        <h2>Mondays</h2><a href="https://tfbrewing.com/" target="_blank"> <p> <strong>T.F. Brewing (ages 21+)</strong> <br /> 6:30PM - 11PM <br> 936 South 300 West, Salt Lake City, UT 84101 </p></a>
        All skill levels are welcome. No registration or sign-up is required—just show up ready to play! If you have a board and clock, bring them along, but if not, don't worry—many players are happy to share.
        Most importantly, bring a friendly attitude and join us in growing a strong and vibrant chess community.

      </div>
        <div class="text-content-lichess">
          <%- include('layouts/lichess');-%>
        </div>
      </div>

      <div class="text-content">
      <div class="image-grid">
          <picture>
            <img loading="lazy" src="/img/katie_tf_compressed_redo.jpg" height=200 width=150 alt="katie_playing_chess_with_friends">
          </picture>
          <picture>
            <img loading="lazy" src="/img/father_nathan_compressed.jpg" height=150 width=100 alt="father_nathan_playing_chess_with_community">
          </picture>
          <picture>
            <img loading="lazy" src="/img/after_dark.jpg" height=150 width=100 alt="blue_copper_chess_club_after_dark">
          </picture>
          <picture>
            <img loading="lazy" src="/img/christian_looking_boss.jpg" srcset="/img/christian_looking_boss.jpg" height=150 width=100 alt="He_is_still_so_sad">
          </picture>
          <picture>
            <img loading="lazy" src="/img/chess_table_beanie.jpg" srcset='/img/chess_table_beanie.jpg' height=150 width=100 alt="chess_community">
          </picture>
          <picture>
            <img loading="lazy" src="/img/bronson_anna_friends.jpg" srcset="/img/bronson_anna_friends.jpg" height=150 width=100 alt="Bronson_rizzing_up_everyone">
          </picture>
          <picture>
            <img loading="lazy" src="/img/bronson_nail.jpg" srcset="/img/bronson_nail.jpg" height=150 width=100 alt="Bronson_usually_prefers_food_over_nails">
          </picture>
          <picture>
            <img loading="lazy" src="/img/chess_vertical_jack.jpg" srcset="/img/chess_vertical_jack.jpg" height=150 width=100 alt="Jack_is_scary">
          </picture>
          <picture>
            <img loading="lazy" src="/img/payton_looking_fly.jpg" srcset="/img/payton_looking_fly.jpg" height=150 width=100 alt="Payton_looks_fly_as_fuck">
          </picture>
          <picture>
            <img loading="lazy" src="/img/guy_anna.jpg" srcset="/img/guy_anna.jpg" height=150 width=100 alt="guy_got_rizz">
          </picture>
          <picture>
            <img loading="lazy" src="/img/chloe_smiling.jpg" srcset="/img/chloe_smiling.jpg" height=150 width=100 alt="Chloe_yelled_at_me_once">
          </picture>
          <picture>
            <img loading="lazy" src="/img/ZachConcerned.jpg" srcset="/img/ZachConcerned.jpg" height=150 width=100 alt="Zach_often_in_trouble_when_playing_blitz">
          </picture>
          <picture>
            <img loading="lazy" src="/img/tic_stretching.jpg" srcset="/img/tic_stretching.jpg" height=150 width=100 alt="Tic_dislocated_his_shoulder_playing_this">
          </picture>
          <picture>
            <img loading="lazy" src="/img/blue_copper_neon.jpg" height=150 width=100 alt="after_dark_meeting_of_the_minds">
          </picture>
          <picture>
            <img loading="lazy" src="/img/chess_couple.jpg" srcset="/img/chess_couple.jpg" height=150 width=100 alt="How_to_court_someone_in_chess">
          </picture>
          <picture>
            <img loading="lazy" src="/img/katie_guy_playing.jpg" srcset="/img/katie_guy_playing.jpg" height=150 width=100 alt="Look_how_classy_this_looks">
          </picture>
          <picture>
            <img loading="lazy" src="/img/chess_table_copper.jpg" srcset="/img/chess_table_copper.jpg" height=150 width=100 alt="sick_gathering">
          </picture>
          <picture>
            <img loading="lazy" src="/img/nathan_hand.jpg" srcset="/img/nathan_hand.jpg" height=150 width=100 alt="nathan_struggling_to_play_bullet">
          </picture>
          <picture>
            <img loading="lazy" src="/img/outside_blue_copper.jpg" srcset="/img/outside_blue_copper.jpg" height=150 width=100 alt="super_secret_meeting">
          </picture>
          <picture>
            <img loading="lazy" src="/img/jack_judging_again.jpg" srcset="/img/jack_judging_again.jpg" height=150 width=100 alt="next_to_playing_chess_jack_loves_judging">
          </picture>
          <picture>
            <img loading="lazy" src="/img/zach_smiling.jpg" srcset="/img/zach_smiling.jpg" height=150 width=100 alt="Zach_strips_on_the_side">
          </picture>
          <picture>
            <img loading="lazy" src="/img/a_winning_smile.jpg" srcset="/img/a_winning_smile.jpg" height=150 width=100 alt="Deepyaman_kills_everyone_with_a_smile">
          </picture>
          <picture>
            <img loading="lazy" src="/img/blunder_in_action.jpg" srcset="/img/blunder_in_action.jpg" height=150 width=100 alt="hand_and_brain_gone_wrong">
          </picture>
          <picture>
            <img loading="lazy" src="/img/bethen_smiling.jpg" srcset="/img/bethen_smiling.jpg" height=150 width=100 alt="Bethen_really_fucking_loves_chess">
          </picture>
          <picture>
            <img loading="lazy" src="/img/neo_matrix.jpg" srcset="/img/neo_matrix.jpg" height=150 width=100 alt="neo_payed_us_a_visit">
          </picture>
          <picture>
            <img loading="lazy" src="/img/omar_chess.jpg" srcset="/img/omar_chess.jpg" height=150 width=100 alt="Omar_so_quick_he_looks_blurry">
          </picture>
          <picture>
            <img loading="lazy" src="/img/Adrian_is_Jason_Statham.jpg" srcset="/img/Adrian_is_Jason_Statham.jpg" height=150 width=100 alt="Jason_Statham_Plays_Chess">
          </picture>
          <picture>
            <img loading="lazy" src="/img/deep_jordan.jpg" srcset="/img/deep_jordan.jpg" height=150 width=100 alt="Looks_like_an_epic_showdown">
          </picture>
          <picture>
            <img loading="lazy" src="/img/intenseGame.jpg" srcset="/img/intenseGame.jpg" height=150 width=100 alt="Grandmasters_silently_judging_noobs">
          </picture>
          <picture>
            <img loading="lazy" src="/img/big_gathering_after_dark.jpg" srcset="/img/big_gathering_after_dark.jpg" height=150 width=100 alt="big_gathering_after_dark">
          </picture>
        </div>
        <div class="centered-text-insta">
          <%- include('layouts/insta');-%>
        </div>
        </div>
  </div>
  <%- include("layouts/modal") %>


<!-- Link the external script -->

<script src="/js/scripts.js"></script>

  </body>
</html>


