<html lang="en">
  <head>
  <%- include('layouts/header');-%>


    <!-- Page Header -->




            <h2 class="content-wrapper-title">Page does not exist</h2>
            <picture>
                <img class="content-wrapper" loading="lazy" src='/img/lichess_error.png' style='height: 50%; width: auto;' srcset="/img/lichess_error.png 1x"  alt='error'>
            </picture>
            <script>
              setTimeout(() => {
                window.location.href = "https://saltlakecitychessclub.com";
              }, 2000); // Redirect after 3 seconds
            </script>
             <p class="content-wrapper-title">You are being redirected in 2 seconds</p>




  </body>
</html>
