<!DOCTYPE html>
<html lang="en">
  <%- include('layouts/header');-%>

  <body>


    <!-- Page Header -->
    <header
      class="masthead"
      style="background-image: url('/img/lichess_down.jpg')"
    >


        <div class="row">
            <div class="page-heading">
              <h1>Not Found</h1>

    </header>


  </body>
</html>
